.button {
  -fx-background-color: #04AA6D;
  -fx-text-fill: white;
  -fx-font-size: 16px;
  -fx-min-width: 100px;
  -fx-min-height: 40px;
  -fx-background-radius: 0px;
  -fx-font-size: 15px;
}

.button:pressed:hover {
  -fx-background-color: #383838;
}

.button:hover {
  -fx-background-color: #383838;
}

.utility_button {
  -fx-background-color: rgba(50, 50, 50, 0);
  -fx-min-width: 25px;
  -fx-min-height: 25px;
}

.utility_button:pressed:hover {
  -fx-background-color: rgba(60, 60, 60);
  -fx-background-color: rgba(60, 60, 60);
}

.utility_button:hover {
  -fx-background-color: rgba(65, 65, 65);
}

.exit_button {
  -fx-background-color: rgba(50, 50, 50, 0);
  -fx-min-width: 25px;
  -fx-min-height: 25px;
}

.exit_button:pressed:hover {
  -fx-background-color: #fa3c41;
  -fx-border-color: #fa3c41;

}

.exit_button:hover {
  -fx-background-color: #fa3c41;
}

.header{
  -fx-background-color: rgba(35, 35, 35);
}
